@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";
@import "node_modules/bootstrap/scss/bootstrap-grid.scss";
@import "node_modules/bootstrap/scss/_images.scss";
@import "node_modules/bootstrap/scss/utilities/_text.scss";
/*
@import "node_modules/bootstrap/scss/utilities/_embed.scss";
@import "node_modules/bootstrap/scss/bootstrap.scss";*/
//@include media-breakpoint-between(xs, sm) {}

$_v: #44A429;
$_a: #F7931F;
$_r: #C1272D;
$_blue: #29489C;

@mixin xlink {
	&, &:link, &:active, &:hover, &:visited {@content;}
}
@mixin placeholder {
	&::-webkit-input-placeholder {@content;}
	&:-moz-placeholder           {@content;}
	&::-moz-placeholder          {@content;}
	&:-ms-input-placeholder      {@content;}
}
/*!
* 
* 
* By @bernethe
* 
* 
*/
body, html {
	font-family: 'Montserrat', sans-serif;
	min-height: 100vh;
	scroll-behavior: smooth;
}
body {
	//background-image: url('img/map.jpg');
	background-position: center center;
	background-size: cover;
	background-color: #edebe8;
}
a {
	@include xlink {
		color: $_blue;
	}
}
h1 {
	font-weight: 800;
}
#placa {
	background-color: #fff;
	color: $_blue;
	border: 5px solid $_blue;
	padding: 1ems;
	text-align: center;
	border-radius: 10px;
	margin: 1em auto;
	appearance: none;
	display: block;
	width: 100%;
	font-size: 1.5em;
	text-align: center;
	text-align-last:center;
	font-weight: bold;
	padding: .25em;
}
.texto-resaltado {
	color: $_blue;
}
.card {
	background-color: $_v;
	color: #fff;
	border-radius: .5em;
	padding: .5em;
	margin: .5em 0;

	&.restricted-yellow, &.restricted-yellow-wknd {
		background-color: $_a;
		color: #000
	}
	&.restricted-red,  &.restricted-red-wknd {
		background-color: $_r;
		color: #fff;
	}
}
.notas {
	font-size: .75em;
}
i.pc {
	width: 1em;
	height: 1em;
	display: inline-block;
	margin-right: .5em;
	border-radius: 50%;

	&.pc-green { background-color: $_v; }
	&.pc-red { background-color: $_r; }
	&.pc-yellow { background-color: $_a; }
}
a.svg-link {
	@include xlink {
		color: $_blue;
		padding: 0 8px;
	}
	& svg {
		fill: currentColor;
		display: inline-block;
		width: 2.5em;
		height: 2.5em;
	}
}
