@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";
@import "node_modules/bootstrap/scss/bootstrap-grid.scss";
@import "node_modules/bootstrap/scss/_images.scss";
@import "node_modules/bootstrap/scss/utilities/_text.scss";
/*
@import "node_modules/bootstrap/scss/utilities/_embed.scss";
@import "node_modules/bootstrap/scss/bootstrap.scss";*/
//@include media-breakpoint-between(xs, sm) {}

$_v: #44A429;
$_a: #F7931F;
$_r: #C1272D;
$_blue: #29489C;

@mixin xlink {
	&, &:link, &:active, &:hover, &:visited {@content;}
}
@mixin placeholder {
	&::-webkit-input-placeholder {@content;}
	&:-moz-placeholder           {@content;}
	&::-moz-placeholder          {@content;}
	&:-ms-input-placeholder      {@content;}
}
/*!
* 
* 
* By @bernethe
* 
* 
*/
body, html {
	font-family: 'Montserrat', sans-serif;
	min-height: 100vh;
	scroll-behavior: smooth;
}
body {
	//background-image: url('img/map.jpg');
	background-position: center center;
	background-size: cover;
	background-color: #edebe8;
}
a {
	@include xlink {
		color: $_blue;
	}
	&.win-link {
		@include xlink {
			display: block;
			text-align: center;
			text-decoration: none;
			padding: .5em;
			border: 3px solid $_a;
			border-radius: .5em;
			background-color: rgba($_blue,.05);
		}
		&:hover {
			background-color: rgba($_blue,.25);
		}
	}
}
h1 {
	font-weight: 800;
}
#placa {
	background-color: #fff;
	color: $_blue;
	border: 5px solid $_blue;
	padding: 1ems;
	text-align: center;
	border-radius: 10px;
	margin: 1em auto;
	appearance: none;
	display: block;
	width: 100%;
	font-size: 1.5em;
	text-align: center;
	text-align-last:center;
	font-weight: bold;
	padding: .25em;
}
.texto-resaltado {
	color: $_blue;
}
.card {
	border-radius: .5em;
	padding: .5em;
	margin: .5em 0;

	// &.restricted-yellow, &.restricted-yellow-wknd {
	// 	background-color: $_a;
	// 	color: #000;
	// }
	// &.restricted-red,  &.restricted-red-wknd {
	// 	background-color: $_r;
	// 	color: #fff;
	// }
}
#semana_naranja {
	& .card {
		background-color: $_r;
		color: #fff;
		 
		&.card-wknd {
			background-color: $_a;
			color: #000;

			&.card-r {
				background-color: $_r;
				color: #fff;
			}
		}
		 
		&.card-y {
			background-color: $_a;
			color: #000;
		}
	}
}
#semana_amarilla {
	& .card {
		background-color: $_v;
		color: #fff;
		 
		&.card-wknd {
			background-color: $_a;
			color: #000;
			
			&.card-r {
				background-color: $_r;
				color: #fff;
			}
		}
		 
		&.card-r {
			background-color: $_r;
			color: #fff;
		}
	}
}
#semana {
	& .card {
		background-color: $_v;
		color: #fff;
		 
		&.card-wknd {
			background-color: $_a;
			color: #000;
			
			&.card-r {
				background-color: $_r;
				color: #fff;
			}
		}
		 
		&.card-r {
			background-color: $_r;
			color: #fff;
		}
	}
}
.notas {
	font-size: .75em;
}
i.pc {
	width: 1em;
	height: 1em;
	display: inline-block;
	margin-right: .5em;
	border-radius: 50%;

	&.pc-green { background-color: $_v; }
	&.pc-red { background-color: $_r; }
	&.pc-yellow { background-color: $_a; }
}
a.svg-link {
	@include xlink {
		color: $_blue;
		padding: 0 8px;
	}
	& svg {
		fill: currentColor;
		display: inline-block;
		width: 2.5em;
		height: 2.5em;
	}
}
table.cal {
	width: 100%;
	& tr {
		& td {
			padding: 1em;
			text-align: center;

			&.nill {
				background-color: #ccc;
			}
		}
	}

}
#cal_y {
	& tr td {
		&.fa, &.fc {
			background-color: $_v;
			color: #fff;
		}
	}
	
	&[data-placa="1"] {
		& tr td {
			&.d0, &.d6 {
				background-color: $_r;
				color: #fff;
			}
			&.d5 {
				background-color: $_a;
				color: #000;
			}
		}
	}
	&[data-placa="2"] {
		& tr td {
			&.d0, &.d5 {
				background-color: $_r;
				color: #fff;
			}
			&.d6 {
				background-color: $_a;
				color: #000;
			}
		}
	}
	
	&[data-placa="3"] {
		& tr td {
			&.d1, &.d6 {
				background-color: $_r;
				color: #fff;
			}
			&.d5 {
				background-color: $_a;
				color: #000;
			}
		}
	}
	&[data-placa="4"] {
		& tr td {
			&.d1, &.d5 {
				background-color: $_r;
				color: #fff;
			}
			&.d6 {
				background-color: $_a;
				color: #000;
			}
		}
	}
	
	&[data-placa="5"] {
		& tr td {
			&.d2, &.d6 {
				background-color: $_r;
				color: #fff;
			}
			&.d5 {
				background-color: $_a;
				color: #000;
			}
		}
	}
	&[data-placa="6"] {
		& tr td {
			&.d2, &.d5 {
				background-color: $_r;
				color: #fff;
			}
			&.d6 {
				background-color: $_a;
				color: #000;
			}
		}
	}
	
	&[data-placa="7"] {
		& tr td {
			&.d3, &.d6 {
				background-color: $_r;
				color: #fff;
			}
			&.d5 {
				background-color: $_a;
				color: #000;
			}
		}
	}
	&[data-placa="8"] {
		& tr td {
			&.d3, &.d5 {
				background-color: $_r;
				color: #fff;
			}
			&.d6 {
				background-color: $_a;
				color: #000;
			}
		}
	}
	
	&[data-placa="9"] {
		& tr td {
			&.d4, &.d6 {
				background-color: $_r;
				color: #fff;
			}
			&.d5 {
				background-color: $_a;
				color: #000;
			}
		}
	}
	&[data-placa="0"] {
		& tr td {
			&.d4, &.d5 {
				background-color: $_r;
				color: #fff;
			}
			&.d6 {
				background-color: $_a;
				color: #000;
			}
		}
	}
}


#cal_o {
	& tr td {
		&.fa {
			background-color: $_v;
			color: #fff;
		}
		&.fc {
			background-color: $_r;
			color: #fff;
		}

		&.d5, &.d6 {
			background-color: $_a;
			color: #000;
		}
	}
	
	&[data-placa="1"] {
		& tr td {
			&.fa {
				&.d0, &.d6 {
					background-color: $_r;
					color: #fff;
				}
			}
			&.fc {
				&.d0, &.d6 {
					background-color: $_v;
					color: #fff;
				}
			}
		}
	}
	&[data-placa="2"] {
		& tr td {
			&.fa {
				&.d0, &.d5 {
					background-color: $_r;
					color: #fff;
				}
			}
			&.fc {
				&.d0, &.d5 {
					background-color: $_v;
					color: #fff;
				}
			}
		}
	}
	
	&[data-placa="3"] {
		& tr td {
			&.fa {
				&.d1, &.d6 {
					background-color: $_r;
					color: #fff;
				}
			}
			&.fc {
				&.d1, &.d6 {
					background-color: $_v;
					color: #fff;
				}
			}
		}
	}
	&[data-placa="4"] {
		& tr td {
			&.fa {
				&.d1, &.d5 {
					background-color: $_r;
					color: #fff;
				}
			}
			&.fc {
				&.d1, &.d5 {
					background-color: $_v;
					color: #fff;
				}
			}
		}
	}
	
	&[data-placa="5"] {
		& tr td {
			&.fa {
				&.d2, &.d6 {
					background-color: $_r;
					color: #fff;
				}
			}
			&.fc {
				&.d2, &.d6 {
					background-color: $_v;
					color: #fff;
				}
			}
		}
	}
	&[data-placa="6"] {
		& tr td {
			&.fa {
				&.d2, &.d5 {
					background-color: $_r;
					color: #fff;
				}
			}
			&.fc {
				&.d2, &.d5 {
					background-color: $_v;
					color: #fff;
				}
			}
		}
	}
	
	&[data-placa="7"] {
		& tr td {
			&.fa {
				&.d3, &.d6 {
					background-color: $_r;
					color: #fff;
				}
			}
			&.fc {
				&.d3, &.d6 {
					background-color: $_v;
					color: #fff;
				}
			}
		}
	}
	&[data-placa="8"] {
		& tr td {
			&.fa {
				&.d3, &.d5 {
					background-color: $_r;
					color: #fff;
				}
			}
			&.fc {
				&.d3, &.d5 {
					background-color: $_v;
					color: #fff;
				}
			}
		}
	}
	
	&[data-placa="9"] {
		& tr td {
			&.fa {
				&.d4, &.d6 {
					background-color: $_r;
					color: #fff;
				}
			}
			&.fc {
				&.d4, &.d6 {
					background-color: $_v;
					color: #fff;
				}
			}
		}
	}
	&[data-placa="0"] {
		& tr td {
			&.fa {
				&.d4, &.d5 {
					background-color: $_r;
					color: #fff;
				}
			}
			&.fc {
				&.d4, &.d5 {
					background-color: $_v;
					color: #fff;
				}
			}
		}
	}
}